
html {
    scroll-behavior: smooth;
}

header{
    text-align: center;
    text-align: center;
    background-color: #cb4a34;
    padding: 2vw;
    height: auto;
    position: relative;
}
#logoH{
    margin-top: 2vw;
    width: 10vw;
    border-radius: 100vw;

}

body{ 
    color:white;
    margin: 0;
    background-image: url(icons/pizzaFundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10vw;
    background-attachment: flex;
    
}
.txt{
    color: #f7f2de;
    font-family: 'Times New Roman', Times, serif;
    background-color: #cb4b34a6;
    margin-left: 5vw;
    margin-right: 5vw;
}
#menutxt{
    text-align: center;
    font-size: 5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}
#promosnav{
    text-align: center;
}
.promodiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.promoB{
    position: relative;
    width: 20vw;
    height: 25vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5vw);
    cursor: pointer;
    border: none;
    border-radius: 1.5vw;
    margin: 1vw;
    margin-top: 1.5vw;
    transform: scale(1);
    transition: transform 0.3s;
}
.promoB:hover{
    transform: scale(1.1);
    border: 0.2vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}
.imgB{
    position: absolute;
    width: 18vw;
    top: 1.3vw;
    border-radius: 1vw;
    border: 0.2vw solid #e8b653;
}

.link{
    color: #f7f2de;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.linkP{
    color: #f7f2de;
    font-size: 2.7vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Pepperoni{
    margin-top: 8vw;
}
#Mussarela{
    margin-top: 4vw;
}
#Portuguesa{
    margin-top: 13vw;
    font-size: 2vw;
}
#quatroqueijos{
    margin-top: 13vw;
    font-size: 2.2vw;
}
.Bmenu{
    transform: scale(1);
    transition: transform 0.3s;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin: none;

   
}
#menu-div{
    display: flex;
    gap: 1vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
}
.Bmenu:hover{
    transform: scale(1.1);
    color: #f7f2de;
    text-shadow:  0vw 0vw 2vw #f7f2de;
} 
.Bmenu:visited{
    color: #f7f2de;
}
.Bmenu:active{
    color: #f7f2de;
}
.menuimg{
    width: 20vw;
    margin-top: 1.4vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    border-radius: 5%;
    border: 0.2vw solid #e8b653;
}
ul{
    padding: 0vw;
}
li{
    position: relative;
    list-style-type:none;
    border-radius: 2vw;
    backdrop-filter: blur(1vw);
    margin-bottom: 2vw;
    border: solid #fba02e;
    margin-left: 3vw;
    margin-right: 3vw;
    transform: scale(0.9);
    transition: transform 0.3s;
}
li:hover{
    transform: scale(1);
    border: 0.5vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}

li.destacar {
    transform: scale(1);
    transition: transform 0.3s ease;
    border: 0.4vw solid #cb4a34;
    box-shadow: 0px 0px 50px #cb4a34;
    background-color: #cb4b34a8;
}
li .info {
    font-size: 2.5vw;
    display: none;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e8b653d7;
    color: #060912;
    padding: 5px 10vw;
    border-radius: 0.5vw;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}

li .info.show {
    display: block;
    opacity: 1;
    bottom: 7vw;
}
    
#voltar {
    position: fixed;
    bottom: 1vw;
    right: 2vw;
    background-color: #cb4a34;
    color: #f7f2de;
    border: none;
    border-radius: 100vw;
    padding: 1vw 1vw;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#voltar:hover {
    transform: scale(1.1);
    background-color: #e8b653;
}

#Bebidas{
    color: #f7f2de;
    font-size: 5vw;
    text-align: center;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 30vw;
    margin-right: 20vw;
    border-radius: 100vw;
    width: 40vw;

}
.prato{
    position: absolute;
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    bottom: 10vw;
    left:35vw;
}
#Ppepperoni{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 3vw;
}
#Pmarguerita{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
}
#Pcamarao{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
    text-shadow: 0vw 0vw 1vw black;
}
#Pmussarela{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 1vw;
} 
#Pizzavegetariana{ /*O id ta diferente dos outros semlhantes pq eu n達o consegui mexer no posicionamento por alguma raz達o*/
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 3vw;
} 
#Pquatroqueijos{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 2.5vw;
} 
#Pportuguesa{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
} 
#refricc{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 3vw;
} 
#sucom{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
    left: 28vw;
} 

summary:hover{
    cursor: pointer;
}
summary{
    color: #f7f2de;
    text-align: center;
    font-size: 3.5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    margin-left: 7vw;
    margin-right: 7vw;
    background-color: #cb4b34a6;
}
#sobrenos{
    font-size: 2vw;
    background-color: #e8b653d7;
    color: #060912;
    border-radius: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 70vw;
}
#SobrenosT{
    position: absolute;
    font-size: 5vw;
    left: 4vw; 
}
#BemVindo{
    position: absolute;
    font-size: 2.5vw;
    left: 4vw;
    top: 272vw;
}
#Historia{
    position: absolute;
    font-size: 5vw;
    left: 4vw; 
    top: 280vw;
}
#nossahistoria{
    position: absolute;
    font-size: 2.5vw;
    left: 4vw;
    top: 286vw;
}
#missao{
    position: absolute;
    font-size: 5vw;
    left: 4vw; 
    top: 302vw;
}
#compromisso{
    position: absolute;
    font-size: 2.5vw;
    left: 4vw;
    top: 308vw;
}
#visao{
    position: absolute;
    font-size: 5vw;
    left: 4vw; 
    top: 319vw;
}
#nossavisao{
    position: absolute;
    font-size: 2.5vw;
    left: 4vw; 
    top: 325vw;
}
#rodape{
    text-align: center;
    background-color: #cb4a34;
}
#txtgaleria{
    text-align: center;
    font-size: 4.5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 2vw;
}

.imagem {
    width: 20vw;
    padding: 1vw;
    margin: 0;
    border-radius: 3vw;
}
.textoGlr{
    font-size: 2.5vw;
    color: #f7f2de;
    text-align: center;
    background-color: #f4ea7c50;
    border-radius: 2vw;
    border: solid #fb9f2eb7;
    text-shadow: 0 0 1vw #060912;
    transform: scale(1);
    transition: transform 0.3s;
}
.textoGlr:hover{
    transform: scale(1.1);
    background-color: #cb4b34a9;
    border: solid #f4eb7c;
}

.ampliar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.ampliar-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.ampliar .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.ampliar .close:hover,
.ampliar .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
form{
    margin: 4vw;
}
#txtform{
    text-align: center;
    font-size: 4.5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}
#contato{
    text-align: center;
    background-color: #e8b653af;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 2vw;
    border: solid #cb4a34 0.5vw;
    margin-bottom: 2vw;
}
.labelF{
    font-size: 2vw;
}
.infos{
    margin-bottom: 2.5vw;
    border: 0vw;
    background-color: #cb4a34;
    width: 40vw;
    height: 2.5vw;
    transform: scale(1);
    transition: transform 0.3s;
    border: solid 0.2vw #e8b653;
    border-radius: 1vw;
}
.infos:hover{
    transform: scale(1.1);
    background-color: #e8b653;
    border: solid 0.2vw #cb4a34;
}
.infos::placeholder{
    color: #f7f2ded0;
    font-size: 1vw;
}
.infos:focus{
    border: solid 0.2vw #cb4a34;
    outline: none;
}
input{
    color: #060912;
    font-size: 1vw;
    
}
#enviar{
    color: #f7f2de;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    background-color: #cb4a34;
    border-radius: 1vw;
    border: solid 0.2vw #e8b653;
    transform: scale(1);
    transition: transform 0.3s;
}
#enviar:hover{
    transform: scale(1.1);
    background-color: #e8b653;
    border: solid 0.2vw #cb4a34;
    color: #060912;
}
#Benviar{
    margin: 4vw;
}
.msgerro {
    display: none;
    color: red;
    font-size: 1.5vw;
}

.infos.error {
    border-color: red;
    box-shadow: 0 0 2vw red;
}

.infos.success {
    border-color: green;
    box-shadow: 0 0 2vw green;
    background-color: #cb4a34;
}

.infos:-webkit-autofill {
    background-color: #cb4a34 !important;
    color: #060912 !important;
    border: solid 0.2vw #e8b653 !important;
    -webkit-text-fill-color: #060912 !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.infos:-moz-autofill {
    background-color: #cb4a34 !important;
    color: #060912 !important;
    border: solid 0.2vw #e8b653 !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.infos:-ms-autofill {
    background-color: #cb4a34 !important;
    color: #060912 !important;
    border: solid 0.2vw #e8b653 !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/

@media (max-width: 768px){
    
header{
    text-align: center;
    text-align: center;
    background-color: #cb4a34;
    padding: 30px;
    height: auto;
    position: relative;
}
#logoH{
    margin-top: 2vw;
    width: 20vw;
    border-radius: 100vw;
}

body{ 
    color:white;
    margin: 0;
    background-image: url(icons/pizzaFundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 41vw;
    background-attachment: flex;
    
}
#promosnav{
    text-align: center;
}
.promoB{
    position: relative;
    width: 60vw;
    height: 70vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5vw);
    border: none;
    border-radius: 4vw;
    margin: 1vw;
    margin-top: 4vw;
    transform: scale(1);
    transition: transform 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.promoB:hover{
    transform: scale(1.1);
    border: 0.5vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}
.imgB{
    position: absolute;
    width: 55vw;
    top: 1.3vw;
    border-radius: 4vw;
    border: 0.5vw solid #e8b653;
    right: -0.1vw;
    left: 1.8vw;
}

.link{
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}
.linkP{
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}
#Pepperoni{
    margin-top: 30vw;
}
#Mussarela{
    margin-top: 10vw;
}
#Portuguesa{
    margin-top: 40vw;
    font-size: 5vw;
}
#quatroqueijos{
    margin-top: 30vw;
    font-size: 6vw;
}

.Bmenu{
    transform: scale(1);
    transition: transform 0.3s;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin: none;
    
}
#menu-div{
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
}
.Bmenu:hover{
    transform: scale(1.1);
    color: #f7f2de;
    text-shadow:  0vw 0vw 2vw #f7f2de;
} 
.Bmenu:visited{
    color: #f7f2de;
}
.Bmenu:active{
    color: #f7f2de;
}
#menutxt{
    text-align: center;
    font-size: 7vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
}
.menuimg{
    width: 30vw;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    margin-left: 1.5vw;
    border-radius: 10%;
    border: 0.5vw solid #e8b653;
}
li{
    list-style-type:none;
    border-radius: 4vw;
    backdrop-filter: blur(1vw);
    margin-bottom: 2vw;
    border: solid #fba02e;
    margin-left: 3vw;
    margin-right: 3vw;
    transform: scale(0.9);
    transition: transform 0.3s;
}
li:hover{
    transform: scale(1);
    border: 0.5vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}
li.destacar {
    transform: scale(1);
    transition: transform 0.3s ease;
    border: 0.4vw solid #cb4a34;
    box-shadow: 0px 0px 50px #cb4a34;
    background-color: #cb4b34a8;
}
#voltar {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background-color: #cb4a34;
    color: #f7f2de;
    border: none;
    border-radius: 100vw;
    padding: 1vw 1vw;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

#voltar:hover {
    transform: scale(1.1);
    background-color: #e8b653;
}
#Bebidas{
    color: #f7f2de;
    text-align: center;
    font-size: 8vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 100vw;
    width: 60vw;
}
.prato{
    -webkit-tap-highlight-color: transparent;
}
.prato{
    position: absolute;
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    bottom: 10vw;
    left:35vw;
}
#Ppepperoni{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 7vw;
    left: 37vw;
}
#Pmarguerita{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 8vw;
    left: 37vw;
}
#Pcamarao{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 8vw;
    left: 39vw;
}
#Pmussarela{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 5vw;
    left: 38vw;
} 
#Pizzavegetariana{ /*O id ta diferente dos outros semlhantes pq eu n達o consegui mexer no posicionamento por alguma raz達o*/
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 7vw;
    left: 39.5vw;
} 
#Pquatroqueijos{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 6vw;
    left: 43vw;
} 
#Pportuguesa{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 8vw;
    left: 40vw;
} 
#refricc{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 6vw;
    left:33vw;
} 
#sucom{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 5vw;
    left: 29vw;
} 
li .info {
    font-size: 4vw;
    display: none;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e8b653d7;
    color: #060912;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}

li .info.show {
    display: block;
    opacity: 1;
    bottom: 15vw;
}
#sobrenos{
    position:relative;
    font-size: 5vw;
    background-color: #e8b653d7;
    color: #060912;
    border-radius: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 248vw; 

}
#SobrenosT{
    position: absolute;
    font-size: 7vw;
    left: 2vw; 
}
#BemVindo{
    position: absolute;
    font-size: 5vw;
    left: 2vw;
    top: 8vw;
}
#Historia{
    position: absolute;
    font-size: 7vw;
    left: 2vw; 
    top: 35vw;
}
#nossahistoria{
    position: absolute;
    font-size: 5vw;
    left: 2vw;
    top: 45vw;
}
#missao{
    position: absolute;
    font-size: 7vw;
    left: 2vw; 
    top: 117vw;
}
#compromisso{
    position: absolute;
    font-size: 5vw;
    left: 2vw;
    top: 128vw;
}
#visao{
    position: absolute;
    font-size: 7vw;
    left: 2vw; 
    top: 172vw;
}
#nossavisao{
    position: absolute;
    font-size: 5vw;
    left: 2vw; 
    top: 183vw;
}
summary{
    color: #f7f2de;
    text-align: center;
    font-size: 4.5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2.5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    background-color: #cb4b34a6;
    -webkit-tap-highlight-color: transparent;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 2vw;
}

.imagem {
    width: 40vw;
    padding: 2vw;
    margin: 0;
    border-radius: 5vw;
}
.textoGlr{
    font-size: 4vw;
    color: #f7f2de;
    text-align: center;
    background-color: #f4ea7c50;
    border-radius: 5vw;
    border: solid #fb9f2ec7;
    text-shadow: 0 0 1vw #060912;
}
a{
    -webkit-tap-highlight-color: transparent;
}
#txtform{
    text-align: center;
    font-size: 7vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
}

#contato{
    text-align: center;
    background-color: #e8b653af;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    border-radius: 2vw;
    border: solid #cb4a34 0.5vw;
    margin-bottom: 5vw;
}
.labelF{
    font-size: 4vw;
}
.infos{
    margin-bottom: 2.5vw;
    border: 0vw;
    background-color: #cb4a34;
    width: 70vw;
    height: 10vw;
    transform: scale(1);
    transition: transform 0.3s;
    border: solid 0.2vw #e8b653;
    border-radius: 1vw;
}
.infos:hover{
    transform: scale(1.1);
    background-color: #e8b653;
    border: solid 0.2vw #cb4a34;
}
.infos::placeholder{
    color: #f7f2ded0;
    font-size: 3vw;
}
.infos:focus{
    border: solid 0.2vw #cb4a34;
    outline: none;
}
input{
    color: #060912;
    font-size: 3vw;
    
}
#enviar{
    color: #f7f2de;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    background-color: #cb4a34;
    border-radius: 1vw;
    border: solid 0.2vw #e8b653;
    transform: scale(1.8);
    transition: transform 0.3s;
}
#enviar:hover{
    transform: scale(2);
    background-color: #e8b653;
    border: solid 0.2vw #cb4a34;
    color: #060912;
}
#Benviar{
    margin: 4vw;
}
.msgerro {
    
    display: none;
    color: red;
    font-size: 3vw;    
}

}
