
html {
    scroll-behavior: smooth;
}

header{
    text-align: center;
    text-align: center;
    background-color: #cb4a34;
    padding: 2vw;
    height: auto;
    position: relative;
}
#logoH{
    margin-top: 2vw;
    width: 10vw;
    border-radius: 100vw;

}

body{ 
    color:white;
    margin: 0;
    background-image: url(icons/pizzaFundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10vw;
    background-attachment: flex;
    
}
.txt{
    color: #f7f2de;
    font-family: 'Times New Roman', Times, serif;
    background-color: #cb4b34a6;
    margin-left: 5vw;
    margin-right: 5vw;
}
#menutxt{
    text-align: center;
    font-size: 5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}
#promosnav{
    text-align: center;
}
.promodiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.promoB{
    position: relative;
    width: 20vw;
    height: 25vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5vw);
    cursor: pointer;
    border: none;
    border-radius: 1.5vw;
    margin: 1vw;
    margin-top: 1.5vw;
    transform: scale(1);
    transition: transform 0.3s;
}
.promoB:hover{
    transform: scale(1.1);
    border: 0.2vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}
.imgB{
    position: absolute;
    width: 18vw;
    top: 1.3vw;
    border-radius: 1vw;
    border: 0.2vw solid #e8b653;
}

.link{
    color: #f7f2de;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.linkP{
    color: #f7f2de;
    font-size: 2.7vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Pepperoni{
    margin-top: 8vw;
}
#Mussarela{
    margin-top: 4vw;
}
#Portuguesa{
    margin-top: 13vw;
    font-size: 2vw;
}
#quatroqueijos{
    margin-top: 13vw;
    font-size: 2.2vw;
}
.Bmenu{
    transform: scale(1);
    transition: transform 0.3s;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin: none;

   
}
#menu-div{
    display: flex;
    gap: 1vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
}
.Bmenu:hover{
    transform: scale(1.1);
    color: #f7f2de;
    text-shadow:  0vw 0vw 2vw #f7f2de;
} 
.Bmenu:visited{
    color: #f7f2de;
}
.Bmenu:active{
    color: #f7f2de;
}
.menuimg{
    width: 20vw;
    margin-top: 1.4vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    border-radius: 5%;
    border: 0.2vw solid #e8b653;
}
ul{
    padding: 0vw;
}
li{
    position: relative;
    list-style-type:none;
    border-radius: 2vw;
    backdrop-filter: blur(1vw);
    margin-bottom: 2vw;
    border: solid #fba02e;
    margin-left: 3vw;
    margin-right: 3vw;
    transform: scale(0.9);
    transition: transform 0.3s;
}
li:hover{
    transform: scale(1);
    border: 0.5vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}

li.destacar {
    transform: scale(1);
    transition: transform 0.3s ease;
    border: 0.4vw solid #cb4a34;
    box-shadow: 0px 0px 50px #cb4a34;
    background-color: #cb4b34a8;
}
li .info {
    font-size: 2.5vw;
    display: none;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e8b653d7;
    color: #060912;
    padding: 5px 10vw;
    border-radius: 0.5vw;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}

li .info.show {
    display: block;
    opacity: 1;
    bottom: 7vw;
}
    
#voltar {
    position: fixed;
    bottom: 1vw;
    right: 2vw;
    background-color: #cb4a34;
    color: #f7f2de;
    border: none;
    border-radius: 100vw;
    padding: 1vw 1vw;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#voltar:hover {
    transform: scale(1.1);
    background-color: #e8b653;
}

#Bebidas{
    color: #f7f2de;
    font-size: 5vw;
    text-align: center;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 30vw;
    margin-right: 20vw;
    border-radius: 100vw;
    width: 40vw;

}
.prato{
    position: absolute;
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    bottom: 10vw;
    left:35vw;
}
#Ppepperoni{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 3vw;
}
#Pmarguerita{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
}
#Pcamarao{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
    text-shadow: 0vw 0vw 1vw black;
}
#Pmussarela{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 1vw;
} 
#Pizzavegetariana{ /*O id ta diferente dos outros semlhantes pq eu n達o consegui mexer no posicionamento por alguma raz達o*/
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 3vw;
} 
#Pquatroqueijos{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 2.5vw;
} 
#Pportuguesa{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
} 
#refricc{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 3vw;
} 
#sucom{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 4vw;
    left: 28vw;
} 

summary:hover{
    cursor: pointer;
}
summary{
    color: #f7f2de;
    text-align: center;
    font-size: 3.5vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    margin-left: 7vw;
    margin-right: 7vw;
    background-color: #cb4b34a6;
}
#sobrenos{
    font-size: 2vw;
    background-color: #e8b653d7;
    color: #060912;
    border-radius: 2vw;
}
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
/*Tela menores como celulares*/
@media (max-width: 768px){
    
header{
    text-align: center;
    text-align: center;
    background-color: #cb4a34;
    padding: 30px;
    height: auto;
    position: relative;
}
#logoH{
    margin-top: 2vw;
    width: 20vw;
    border-radius: 100vw;
}

body{ 
    color:white;
    margin: 0;
    background-image: url(icons/pizzaFundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 41vw;
    background-attachment: flex;
    
}
#promosnav{
    text-align: center;
}
.promoB{
    position: relative;
    width: 60vw;
    height: 70vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5vw);
    border: none;
    border-radius: 4vw;
    margin: 1vw;
    margin-top: 4vw;
    transform: scale(1);
    transition: transform 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.promoB:hover{
    transform: scale(1.1);
    border: 0.5vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}
.imgB{
    position: absolute;
    width: 55vw;
    top: 1.3vw;
    border-radius: 4vw;
    border: 0.5vw solid #e8b653;
    right: -0.1vw;
    left: 1.8vw;
}

.link{
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}
.linkP{
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}
#Pepperoni{
    margin-top: 30vw;
}
#Mussarela{
    margin-top: 10vw;
}
#Portuguesa{
    margin-top: 40vw;
    font-size: 5vw;
}
#quatroqueijos{
    margin-top: 30vw;
    font-size: 6vw;
}

.Bmenu{
    transform: scale(1);
    transition: transform 0.3s;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin: none;
    
}
#menu-div{
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
}
.Bmenu:hover{
    transform: scale(1.1);
    color: #f7f2de;
    text-shadow:  0vw 0vw 2vw #f7f2de;
} 
.Bmenu:visited{
    color: #f7f2de;
}
.Bmenu:active{
    color: #f7f2de;
}
#menutxt{
    text-align: center;
    font-size: 7vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
}
.menuimg{
    width: 30vw;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    margin-left: 1.5vw;
    border-radius: 10%;
    border: 0.5vw solid #e8b653;
}
li{
    list-style-type:none;
    border-radius: 4vw;
    backdrop-filter: blur(1vw);
    margin-bottom: 2vw;
    border: solid #fba02e;
    margin-left: 3vw;
    margin-right: 3vw;
    transform: scale(0.9);
    transition: transform 0.3s;
}
li:hover{
    transform: scale(1);
    border: 0.5vw solid #f4eb7c;
    backdrop-filter: blur(0.7vw);
}
li.destacar {
    transform: scale(1);
    transition: transform 0.3s ease;
    border: 0.4vw solid #cb4a34;
    box-shadow: 0px 0px 50px #cb4a34;
    background-color: #cb4b34a8;
}
#voltar {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background-color: #cb4a34;
    color: #f7f2de;
    border: none;
    border-radius: 100vw;
    padding: 1vw 1vw;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

#voltar:hover {
    transform: scale(1.1);
    background-color: #e8b653;
}
#Bebidas{
    color: #f7f2de;
    text-align: center;
    font-size: 8vw;
    border: solid 0.5vw #cb4a34;
    border-bottom:solid 0.5vw #e8b653;
    margin-top: 10vw;
    margin-bottom: 5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 100vw;
    width: 60vw;
}
.prato{
    -webkit-tap-highlight-color: transparent;
}
.prato{
    position: absolute;
    color: #f7f2de;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    bottom: 10vw;
    left:35vw;
}
#Ppepperoni{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 7vw;
    left: 37vw;
}
#Pmarguerita{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 8vw;
    left: 37vw;
}
#Pcamarao{
    color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 8vw;
    left: 39vw;
}
#Pmussarela{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 5vw;
    left: 38vw;
} 
#Pizzavegetariana{ /*O id ta diferente dos outros semlhantes pq eu n達o consegui mexer no posicionamento por alguma raz達o*/
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 7vw;
    left: 39.5vw;
} 
#Pquatroqueijos{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 6vw;
    left: 43vw;
} 
#Pportuguesa{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 8vw;
    left: 40vw;
} 
#refricc{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 6vw;
    left:33vw;
} 
#sucom{
   color:#f7f2de;
    position:absolute;
    margin: 0vw;
    text-align: center;
    top: 5vw;
    left: 29vw;
} 
li .info {
    font-size: 4vw;
    display: none;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e8b653d7;
    color: #060912;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}

li .info.show {
    display: block;
    opacity: 1;
    bottom: 15vw;
}


}